[submodule "Levelup-Gaming/lib/forge-std"]
	path = Levelup-Gaming/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Levelup-Gaming/lib/openzeppelin-contracts"]
	path = Levelup-Gaming/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
